body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cardWrapper{
  display: flex;
  justify-content: center;
  width: 600px;
  gap: 30px;
}

.priceSpan{
  display: flex;
  align-items: center;
  gap: 10px;
}

.priceSpan p {
  text-decoration: line-through;
  color: gray;
}

.rateStars{
  color: darkred;
}